body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  border: 1px solid black;
  width: 100px;
  height: 50px;
  background: blue;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}
.messageCard {
  border: 1px solid black;
  padding: 5px;
  margin: 7px;
  width: 300px;
  box-shadow: 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
li {
  display: inline;
}
#userName {
  font-size: 24px;
  margin: 4px;
  color: blue;
}
#dateAdded {
  font-size: 10px;
}
